table, tr, td, th {
    border: 1px solid black;
}

h1 {
    color:red;
}

body, table {
    text-align: center;
}

#row2 {
    background-color:pink;
}
 #row3 {
     background-color:red;
}

ul {
    background-color:yellow;
}

    